@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a202c;
  --foreground: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tweet-container {
  background-color: #2d3748;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
